:root {
    --dustyrose: #cca2a1;
    --dusk: #202332;
    --brick: #943847;
    --charcoal: #343A40;
    --greymist: #9BADBF;
    --black: #000000;
    --sky: #1186B0;
    --pistachio: #a1cca5;
    --moss: #355F35;
}



/*BANNER*/

.banner {
    height: 20vh;
}

.image-container::before {
  right: 0;
  left: 0;

}

.mobile-title > h1 {
  font-size: 2em;
}

.mobile-title > h2 {
  font-size: 1em;
}

/*CARDS*/

.card-menu-container > li {
  font-size: 1em;
}

/*MAIN*/

main > h1 {
  font-size: 1.5em;
}

/*CARDS*/

.card-title-container {
  justify-content: space-between;
}

.card-title-container > h2 {
  font-size: 1.25em;
}

.card-img-container > img {
  height: 100px;
  width: 100px;
}

.card-location-container > svg {
  width: 1.25em;
  height: 1.5em;
}

.location {
  font-size: 1em;
}
