:root {
    --dustyrose: #cca2a1;
    --shadowrose: #916867;
    --dusk: #202332;
    --brick: #943847;
    --charcoal: #343A40;
    --greymist: #9BADBF;
    --black: #000000;
    --sky: #1186B0;
    --pistachio: #a1cca5;
    --moss: #355F35;
}

/*NAVIGATION*/
.topnav {
    background-color: var(--dustyrose);
    width: 100vw;
    height: 4em;
    padding: 0 2em;
    transition: height 10s ease-in-out;
}

.topnav a {
    display: none;
}

.nav-items  {
    flex-direction: column;
    flex: 1;
}

.nav-items.mobile {
  margin-top: 4em;

}

.topnav.mobile {
  height: auto;
  padding-bottom: 1em;

  position: absolute;
  width: 100%;
  top:0;
  z-index:10;
  margin:0;
  overflow:hidden;
}

.topnav.mobile a {
    display: inline-block;
    float: none;
    font-size: 1em;
}

#search-form {
  padding-top: 0.5em;
  flex: 2;
}

.search-input {
    padding-left: 1em;

}

.slider-theme {
  box-shadow: 2px 4px 7px var(--shadowrose);
}

.mobile-icon-container {
    background: var(--dustyrose);
    color: black;
    display: block;
    position: absolute;
    top: 1em;
    left: 2em;

}

.mobile-icon-container > svg {
    height: 2em;
    width: 2em;
}

.search-input, #search-btn {
    border: none;
    margin-top: 0.5em;

}

/*BANNER*/
.banner {
    height: 30vh;
}

.banner.mobile {
  margin-top: 4em;
}

.heading-container, .triangle {
    display: none;
}

.mobile-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125em;
    width: 80%;
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    color: white;
    letter-spacing: 0.06em;
}

.mobile-title > h1 {
  font-size: 3em;
}

.mobile-title > h2 {
  font-size: 1.5em;
}

.image-container::before {
    content: "";
    position: absolute;
    left: 10%;
    right:10%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}



.image-container {
    position: relative;
}


/*MAIN*/


/*CARDS*/

.card {
  flex-direction: column;
  align-items: center;
}

.card-menu-container {
    margin-top: 2em;
    padding-top: 0;
}

.card-info-container > h2 {
  position: relative;
  padding-bottom: 0.5em;
}

.card-location-container {
   position: relative;
}

