
/*FONTS AND COLOURS*/
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato/Lato-Regular.ttf),
    url(fonts/Lato/Lato-Bold.ttf),
    url(fonts/Lato/Lato-Black.ttf);
}

:root {
    --dustyrose: #cca2a1;
    --dusk: #202332;
    --brick: #943847;
    --charcoal: #343A40;
    --greymist: #9BADBF;
    --black: #000000;
    --sky: #1186B0;
    --pistachio: #a1cca5;
    --moss: #355F35;
}

/*RESET*/
html, body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**NAVBAR**/
.topnav {
    display: flex;
    width: 80vw;
    margin: auto;
    padding: 2em 0;
    overflow: hidden;
}

.mobile-icon-container {
    display: none;
}

.nav-items {
    flex: 3;
    display: flex;
    font-size: 1em;
    list-style: none;
}

.nav-items li {
    justify-content: flex-start;
    padding-right: 2em;
}

.nav-items li > a {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 0.25em;
    color: var(--dusk);
}

.nav-items li > a:hover {
    background-color: var(--brick);
    color: white;
}

#search-form {
    flex: 1;
}

#mobile-search-form {
    display: none;
}

.input-container {
    float: right;
    width: 100%;
}


.search-input {
    float: left;
    width: 80%;
    height: 2.5em;
    border: 0.075em solid var(--dusk);
    border-right: none;
    border-radius: 0.5em 0 0 0.5em;
    outline: none;
    background-color: white;
}

.search-input::placeholder {
    padding-left: 1em;
}

#search-btn {
    width: 20%;
    height: 2.5em;
    color: var(--dusk);
    border: 0.075em solid var(--dusk);
    border-left: none;
    border-radius: 0 0.5em 0.5em 0;
    outline: none;
    background-color: white;
    position: relative;
}

#search-btn > svg {
    width: 1.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-btn > svg:hover {
    color: var(--brick);
}


/*BANNER*/

.mobile-title {
  display: none;
}

.banner {
    display: flex;
    height: 40vh;
    color: black;

}

.heading-container {
    flex: 4;
    position: relative;
    background-color: var(--dustyrose);

}

.mobile-info, #mobile-title {
    display: none;
}

#banner-headings  {
    position: absolute;
    top : 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
}

#banner-headings > h1 {
    font-weight: 800;
    font-size: 3.75em;
    letter-spacing: 0.06em;
}

#banner-headings > h2 {
    font-weight: 400;
    font-size: 1.4375em;
}


.image-container {
    flex: 5;
    background-image: url("bg-image.jpg");
    background-size: cover;
    transform: scaleX(-1);
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 40vh solid var(--dustyrose);
    border-left: 10vw solid transparent;
    float: right;
    margin-right: -1px;
}


/*MAIN*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    font-family: 'Lato', sans-serif;
    color: var(--charcoal);
}

main > h1 {
    font-size: 2em;
}

.main-info-container {
    padding-bottom: 2em;
    width: 80vw;
}

.main-info-container > p {
      font-weight: 400;
      font-size: 1.5em;
      line-height: 1.6em;

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    margin: 2em 0;

}

#btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.random-btn {
  margin: 0 1em;
}

.language-btn, .random-btn, .sort-btn {
  background-color: var(--sky);
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  box-shadow: 2px 5px 10px var(--greymist);
  cursor: pointer;

}

.language-btn:hover, .language-btn:active, .language-btn:focus, .random-btn:hover, .random-btn:active,
.random-btn:focus, .sort-btn:hover, .sort-btn:active, .sort-btn:focus {
  background-color: var(--dusk);
}


/**CARDS*/
.card {
    display: flex;
    border: none;
    border-radius: 0.5em;
    padding: 1.5em;
    width: 38vw;
    margin-bottom: 2em;
    box-shadow: 2px 3px 15px var(--greymist);
}

.card-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-img-container > img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}


.card-info-container {
    flex: 4;
    position: relative;
    margin-left: 1em;

}

.card-title-container {
  display: flex;
  justify-content: space-between;

  font-weight: 900;
}


.card-location-container {
    display: flex;
}

.card-location-container > svg {
    width: 1em;
}

.card-location-container > svg:hover {
    color: var(--brick);
}

.location {
    font-weight: 400;
    font-size: 1em;
    padding: 0.25em;
}

.card-menu-container {
    padding-top: 1em;
    margin-left: 1em;
}

.card-menu-container > li {
    font-weight: 400;
    font-size: 1.12em;
    line-height: 1.6;

}

#add-restaurant-container {
    border: 0.075em dashed var(--greymist);
}

#add-restaurant-btn {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    line-height: 50%;
    border: none;
    background-color: var(--sky);
    color: white;
    outline: none;
    box-shadow: 2px 5px 10px var(--greymist);
    cursor: pointer;

}

#add-restaurant-btn:hover, #add-restaurant-btn:active, #add-restaurant-btn:focus {
    background-color: var(--dusk);

}










